*, ::after, ::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.container {
  position: relative;
  width: 1200px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px -5px #000000;
  background-color: #ffffff;
}

nav.main_header {
  min-height: 56px;
}

.main_navigation ul {  
  margin: 0;
  padding: 0; 
  list-style: none; 
}

.main_header_logo {
  position: absolute;
  top: 0;
  left: 530px; 
  cursor: pointer; 
}

.main_navigation_item a {  
  text-decoration: none;
  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  margin-top: 15px;
  margin-bottom: 15px;
}

.main_navigation_item a:hover {
  color: #81b3d2;
}

.main_navigation_item a:focus {
  color: #766357;
}

.main_navigation_item a:active {
  opacity: 0.3;
}

.main_navigation_item:nth-child(1),
.main_navigation_item:nth-child(2) {  
  text-align: left;  
}

.main_navigation_item:nth-child(3),
.main_navigation_item:nth-child(4) {
  text-align: right;  
}

.slogan_block {   
  min-height: 508px;
  background-color: #81b3d2;
  background-image: 
    url("../img/polygon.svg"),
    url("../img/background_photo.jpg");
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: bottom, top;
  text-align: center;
}

.slogan_block img {
  margin-top: 76px;
}

.main_description {
  min-height: 216px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.main_description b {
  font-weight: bold;
}

.main_description h2 {
  font-size: 14px;
  line-height: 26px;
}

.advantage {
  min-height: 1098px;
}

.advantage ol {
  list-style: none;
}

.advantage_item {
  width: 400px;
  min-height: 256px;
  text-align: center;
}

.advantage_item h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.advantage_item p {
  font-size: 14px;
  line-height: 21px;
}
/*
.advantage_item_text {
  width: 308px;
}

.advantage_item:nth-child(1) {
  background-color: #81b3d2;
  color: #ffffff;
}

.advantage_item:nth-last-child(4) {
  background-color: #81b3d2;
  color: #ffffff;
}

.advantage_item:nth-last-child(3) {
  background-color: #eeeeee;
}

.advantage_item:nth-last-child(2) {
  background-color: #eeeeee;
}

.advantage_item:last-child {
  background-color: #eeeeee;
}

.advantage_item_photo {
  background-color: #81b3d2;
  width: 800px;
  min-height: 256px;
}

.advantage_item_photo {
  background-color: #81b3d2;
  width: 800px;
  min-height: 256px;
}*/

.advice {
  list-style: none;
  background-color: #ffffff;
}

.advice_item {
  width: 400px;
  min-height: 330px;
  text-align: center;
}

.advice h3 {
  font-size: 21px;
  line-height: 21px;
}

.advice p {
  color: #333333;
  margin-top: 23px;
}

.advice_item:first-child {
  background-image: url("../img/house.svg");
  background-repeat: no-repeat;
}

.advice_item:nth-child(2) {
  background-image: url("../img/eat.svg");
  background-repeat: no-repeat;
}

.advice_item:last-child {
  background-image: url("../img/present_box.svg");
  background-repeat: no-repeat;
}

.interest {
  height: 291px;
  text-align: center;
}

.interest h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.interest p {
  font-size: 14px;
  line-height: 24px;
}

.search_button {
  text-transform: uppercase;
  font-weight: bold;
  width: 568px;
  min-height: 86px;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  background-color: #766357;
}

.booking_form {
  background-color: #ffffff;
  width: 568px;
  min-height: 395px;
  font-weight: bold;
}

.booking_form p {
  font-size: 14;
  line-height: 26px;
}

.date input {
  font-size: 14px;
  line-height: 26px;
  min-height: 48px;
  background-color: #f2f2f2;
  width: 307px;
  color: #000000;
  font-weight: bold;
}

.members input {
  width: 38px;
  height: 38px;
  text-align: center;
  background-color: #f2f2f2;
}

.date button {
  background-color: #f2f2f2;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 39px;
  height: 48px;
  color: #000000;
  font-weight: bold;
}

.booking_form .search {
  width: 458px;
  background-color: #81b3d2;
}

.members button {
  width: 38px;
  background-color: #f2f2f2;
}

.check_filter {
  list-style: none;
  width: 241px;
}

.filters_block {
  min-height: 217px;
  background-color: #81b3d2;
  background-image: url("../img/filter_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.selection_form fieldset {
  border: none;
  margin-top: 30px;
}

.selection_form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filters_blok label {
  font-size: 14px;
  line-height: 21px;
}

.show {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  background: none;
  width: 133px;
  height: 32px;
}

.filter_range ul {
  list-style: none;
}

.filters_result {
  color: #000000;
}

.filters_result p {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.filters_result h2 {
  font-size: 12px;
  line-height: 18px;
}

.sort {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sort a {
  text-decoration: none;
  border-bottom: 1px dashed #000000;
  color: #000000;
  opacity: 0.3;
}

.sort a:hover {
  color: #81b3d2;
  opacity: 1;
}

.sort a:focus {
  color: #81b3d2;
  opacity: 1;
}

.sort a:active {
  color: #000000;
  opacity: 1;
}

.sorting_list {
  list-style: none;
}

.sorting_list li {
  height: 11px;
  width: 11px;
  background-color: #81b3d2; /*временно чтобы видеть элемент на странице*/
  list-style: none;
}

.hotels {
  list-style: none;
}

.hotels li {
  border-bottom: 1px solid #e5e5e5;
}

.brief_description {
  font-size: 14px;
  line-height: 21px;
}

.hotel_name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.brief_description a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  height: 27px;
}

.detailed {
  background-color: #81b3d2;
  color: #ffffff;
  width: 110px;
}

.ordered {
  background-color: #766357;
  color: #ffffff;
  width: 142px;
}

.main_footer {
  min-height: 120px;
}

.main_footer a {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

ul.social_links_list{
  list-style: none;
}

.rating-text {
  font-size: 14px;
  line-height: 21px;
}

.main_footer p {
  font-size: 14px;
  line-height: 26px;
}
