*, ::after, ::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.container {
  position: relative;
  width: 1200px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px -5px #000000;
  background-color: #ffffff;
}

nav.main_header {
  min-height: 56px;
}

.main_navigation ul {  
  margin: 0;
  padding: 0; 
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.main_header_logo {
  position: absolute;
  top: 0;
  left: 44.21%; /*высчитал*/
  cursor: pointer; 
}

.main_navigation_item {
  width: 240px;
  min-height: 56px;
}

.main_navigation_item a {
  display: block;  
  text-decoration: none;
  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  margin-top: 15px;
  margin-bottom: 15px;
}

.main_navigation_item a:hover {
  color: #81b3d2;
}

.main_navigation_item a:focus {
  color: #766357;
}

.main_navigation_item a:active {
  opacity: 0.3;
}

.main_navigation_item.left {  
  text-align: left;  
}

.main_navigation_item.right {
  text-align: right;    
}

.main_navigation_item:nth-child(4n-2) {
  margin-right: 96px;
}

.slogan_block {   
  min-height: 508px;
  background-color: #81b3d2;
  background-image: 
    url("../img/polygon.svg"),
    url("../img/background_photo.jpg");
  background-repeat: no-repeat;
  background-size: 100%, cover;
  background-position: bottom, 100% -56px;
  text-align: center;  
}

.slogan_block img {
  margin-top: 76px;
}

.main_description {
  display: flex;  
  flex-direction: column;  
  padding: 58px 312px 0 312px;
  min-height: 216px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;  
}

.main_description b {
  display: block;
  font-weight: bold; 
}

.main_description h2 {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  margin-top: 34px;
}

.advantage {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage_item {  
  background-color: #eeeeee;
  min-height: 256px;
  width: 400px;
  text-align: center;
}

.advantage_item h2 { 
  padding: 0 123px;
}

.advantage_item p { 
  padding: 0 42px;
}
.advantage_item.expanded {
  display: flex;
  flex-wrap: wrap; 
  background-color: #81b3d2;
  color: #ffffff;  
  min-height: 256px;
  width: 100%;  
}

.text_block{  
  width: 400px;  
  min-height: 256px;
  text-align: center;  
}

.photo_block {  
  border: none;
  width: 800px;
  min-height: 256px;  
}

.photo_block img{
  display: block; 
} 

.advantage_item h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin-top: 45px;
  margin-bottom: 26px;  
}

.advantage_item p {  
  font-size: 14px;
  line-height: 21px;
  margin-top: 23px;  
}

.advice {
  list-style: none;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;  
}

.advice_item {   
  width: 400px;
  min-height: 330px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 58px;  
}

.housing {
  background-image: url("../img/house.svg");
  
}

.eat {
  background-image: url("../img/eat.svg");
}

.souvenirs {
  background-image: url("../img/present_box.svg");
}

.advice h3 {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  margin-top: 159px; 
}

.advice p {
  color: #333333;
  margin-top: 25px;
}

.interest {  
  min-height: 291px;
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.interest h2 {
  margin-top: 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

 button.interest{
  border: none;
  padding: 0;  
  margin: 0;
}

.interest p {
  font-size: 14px;
  line-height: 24px;
}

.search_button {
  text-transform: uppercase;
  font-weight: bold;
  width: 568px;
  min-height: 86px;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  background-color: #766357;  
}

.booking_form {
  background-color: #ffffff;
  width: 568px;
  min-height: 395px;
  font-weight: bold;
  position: absolute;
  bottom: 205px; 
  left: 50%;  
  transform: translateX(-50%);
  padding: 55px;
}

.booking_form button {
  border: none;
}

.booking_form p { 
  font-size: 14;
  line-height: 26px;
  display: flex;
  justify-content: center;
}

.booking_form input {
  border: none;
}

.date input {
  display:block;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 26px;
  min-height: 38px;
  background-color: #f2f2f2;
  width: 308px;
  color: #000000;
  font-weight: bold;
  margin-left: 12px;
  padding:0 12px; 
  
}

.booking_item_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.members label{
  margin-right: 36px;
}

.members input {
  width: 38px;
  height: 38px;
  text-align: center;
  font-weight: bold;  
  background-color: #f2f2f2;
}

.date button {
  background-color: #f2f2f2;   
  width: 38px;
  height: 38px;
  color: #cacaca;
  font-weight: bold;
}

.booking_form .search {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: bold;

}

.members button {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

.filters_block {
  min-height: 217px;
  background-color: #81b3d2;
  background-image: url("../img/filter_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 0 72px;  
}

.check_filter {
  list-style: none;
}

.selection_form {
  display: flex;
}

.selection_form fieldset {
  border: none;
  margin-top: 30px;
}

.selection_form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filters_blok label {
  font-size: 14px;
  line-height: 21px;
}

.show {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  background: none;
  width: 133px;
  height: 32px;
}

.filter_range ul {
  list-style: none;
}

.filters_result {
  color: #000000;
  display: flex; 
  align-items: baseline;
  padding: 0 72px; 
}

.filters_result p {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;  
}

.filters_result h2 {
  font-size: 12px;
  line-height: 18px;
  margin-right: 30px;
  margin-left: 47px;
}

.sort {
  display: flex;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  padding: 0;
  margin-right: auto;
}

.sort a {
  display: block;
  text-decoration: none;
  border-bottom: 1px dashed #000000;
  color: #000000;
  opacity: 0.3;
  margin-right: 32px;
}

.sort a:hover {
  color: #81b3d2;
  opacity: 1;
}

.sort a:focus {
  color: #81b3d2;
  opacity: 1;
}

.sort a:active {
  color: #000000;
  opacity: 1;
}

.sorting_list {
  display: flex;
  list-style: none; 
}

.sorting_list a {
  display: block;
  height: 11px;
  width: 11px;  
  list-style: none;  
}

.hotels {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels li {  
  display: flex; 
  align-items: center;   
  padding: 0 72px;
  box-sizing: border-box;
  min-height: 150px;
}

.hotels img {
  display: block;
}

.brief_description {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 21px; 
}

.hotel_name {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.brief_description a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  height: 27px;
}

.brief_description p {
  display: inline-block;
  margin: 0;
}

.brief_description_buttons {
  display: flex;
  flex-wrap: wrap;
}
                  
.detailed {
  background-color: #81b3d2;
  color: #ffffff;
  width: 110px;
  text-align: center;
  padding: 3px; 
  margin-right: 6px;
}

.ordered {
  background-color: #766357;
  color: #ffffff;
  width: 142px;
  text-align: center;
  padding: 3px;  
}

.rating_block {
 margin-left: auto;
}

.rating_block img{
  display: inline;
}

.main_footer.index {
  background-color: #ffffff;
  width: 100%; 
  position: absolute;
  bottom: 0;
  opacity: 0.9;
}

.main_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 120px;
}

.main_footer a {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  margin-left: 8px;
}

ul.social_links_list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.social_links_item a{
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}

.link_twiter {
  background-image: url("../img/twitter.svg");
}

.link_facebook {
  background-image: url("../img/fb_icon.svg");
}

.link_youtube {
  background-image: url("../img/youtube.svg");
}

.rating-text {
  font-size: 14px;
  line-height: 21px;
}

.main_footer p {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 26px;  
}


